<?xml version="1.0" ?>
<root>
<Sprite name="0" width="62" height="51" pivotX="0.5" pivotY="0"/>
<Sprite name="1" width="66" height="54" pivotX="0.5151515" pivotY="0"/>
<Sprite name="2" width="61" height="51" pivotX="0.4918033" pivotY="0"/>
<Sprite name="3" width="64" height="54" pivotX="0.484375" pivotY="0"/>
</root>